In [ ]:
#task1

str1 = input("Enter string here: ")

print(str1[: :-1])

Ente string here: 1576527
 7256751

In [ ]:
#task1 using for loop
str1 = input("Enter string here: ")
reverse = ''

for i in range(len(str1)-1,-1,-1):
  reverse+= str1[i]

print(reverse)

Enter string here: Python
nohtyP

In [ ]:
#task2

str1 = input("Enter string here: ")

index1 =int(input("Enter index here: "))

new_str = str1[index1: :-1] + str1[index1+1:]
print(new_str)

Enter string here: abcdef1234
Enter index here: 5
fedcba1234

In [ ]:
#task3 
num = input("Enter number here: ")
'''Flag Concept '''
for i in num:
  if i =='0' or i=='1':
    value1 = True
  else:
    value1 = False
    break
if value1 == True:
  print("Binary Number")
else:
  print("Not a Binary Number")

Enter number here: 12x0111
Not a Binary Number

In [ ]:
#task4

str1 = input("Enter string here: ")
length = len(str1)

if str1[-3: ]=='est':
  str1 = str1

elif str1[-2: ]=='er':
  str1 = str1[:length-2]+"est"

elif length <4:
  str1 = str1

else:
  str1 += 'er'

print(str1)

Enter string here: abc
abc

In [4]:
#task5

str1 = input("Enter word here: ")

for i in range(len(str1)):
  for j in range(i+1):
    print(str1[j],end = '')
  print()

b
bu
bui
buil
build

In [ ]:
#task6

str1 = input("Enter string here: ")

for i in str1:
  print(f"{i} : {ord(i)}")

Enter string here: Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

In [ ]:
#task7
name = input("Enter name here: ")
str1=''
for a in name:
  v = ord(a) #ord to get ascii number
  #chr function to get chracter from ascii value
  #handle specially for 'z'
  if v == ord('z'): #to replace z with a
    value2 = ord('a')
  else:
    value2 = v + 1
  f = chr(value2)
  str1 += f

print(str1)

Enter name here: vfhzv
wgiaw

In [ ]:
#task8

str1 = input("Enter string here: ")
str2 =str1[1: :2]
str3 =''

for i in str2:
  if ord(i) > (ord('Z')+1):
    str3 += chr(ord(i)-32)
  else:
    str3+= i

print(str3)

Enter string here: StrIng
TIG

In [ ]:
#task9

str1 = input("Enter string here: ")
str2,j = '',''
#j =''
for i in str1:
  if i !=j:
    str2 = str2 +i
  j = i
print(str2)

Enter string here: Jupyter Notebook is better. Case sensitivity check AAaaaAaaAAAa.
Jupyter Notebok is beter. Case sensitivity check AaAaAa.

In [ ]:
#task10

str1 = input('Enter string here: ')
for i in range(len(str1)):
  if str1[i] ==',':
    ind = i
str2 = str1[:ind]
str3 = str1[ind+2:]
str4=''

l1, l2 = len(str2) , len(str3)

if l1 >l2 or l1 ==l2:
    for i in range(l2):
        str4 += str2[i] + str3[i]
    str4 += str2[l2:]

elif l2 >l1:
    for i in range(l1):
        str4 += str2[i] + str3[i]
    str4 += str3[l1:]

print(str4)

Enter string here: ABCDEF, ijkl
AiBjCkDlEF

In [ ]:
#task11

i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [ ]:
#task12
listt = []
listi = []
listj = []
listk = []

test = ""
listt.append(test)
i = 0
listi.append(i)
j = 0
listj.append(j)
k = 15
listk.append(k)
test = "-->"
listt.append(test)
while i < 5:
    j = k - 1
    listj.append(j)
    k -= 1
    listk.append(k)
    while j > 10:
        test = str(i + j) + "-->" + test
        listt.append(test)
        print(test)
        j -= 1
        listj.append(j)
    i += 1
    listi.append(i)

print("test",listt)
print("i",listi)
print("j",listj)
print("k",listk)

14-->-->
13-->14-->-->
12-->13-->14-->-->
11-->12-->13-->14-->-->
14-->11-->12-->13-->14-->-->
13-->14-->11-->12-->13-->14-->-->
12-->13-->14-->11-->12-->13-->14-->-->
14-->12-->13-->14-->11-->12-->13-->14-->-->
13-->14-->12-->13-->14-->11-->12-->13-->14-->-->
14-->13-->14-->12-->13-->14-->11-->12-->13-->14-->-->
test ['', '-->', '14-->-->', '13-->14-->-->', '12-->13-->14-->-->', '11-->12-->13-->14-->-->', '14-->11-->12-->13-->14-->-->', '13-->14-->11-->12-->13-->14-->-->', '12-->13-->14-->11-->12-->13-->14-->-->', '14-->12-->13-->14-->11-->12-->13-->14-->-->', '13-->14-->12-->13-->14-->11-->12-->13-->14-->-->', '14-->13-->14-->12-->13-->14-->11-->12-->13-->14-->-->']
i [0, 1, 2, 3, 4, 5]
j [0, 14, 13, 12, 11, 10, 13, 12, 11, 10, 12, 11, 10, 11, 10, 10]
k [15, 14, 13, 12, 11, 10]

In [ ]:
#task13
listt = []
listi = []
listj = []
listk = []
test = ""
listt.append(test)
i = 5
listi.append(i)
j = 0
listj.append(j)
k = 15
listk.append(k)
while i< 10:
    k-=1
    listk.append(k)
    j = k
    listj.append(j)
    while j > 10:
        if (j % 2) == 0:
            test = "<--"
            listt.append(test)
            test = str(test) + str(i) + str(2) + "-->" + str(int(j / 2))
            listt.append(test)  
        else:
            test = "-->"
            listt.append(test)
            test = "-->" + str(int(i / 2)) + str(test) + str(j)
            listt.append(test)
        print(test)
        j = j-1
        listj.append(j)
    i+=1
    listi.append(i)

print("test",listt)
print("i",listi)
print("j",listj)
print("k",listk)

<--52-->7
-->2-->13
<--52-->6
-->2-->11
-->3-->13
<--62-->6
-->3-->11
<--72-->6
-->3-->11
-->4-->11
test ['', '<--', '<--52-->7', '-->', '-->2-->13', '<--', '<--52-->6', '-->', '-->2-->11', '-->', '-->3-->13', '<--', '<--62-->6', '-->', '-->3-->11', '<--', '<--72-->6', '-->', '-->3-->11', '-->', '-->4-->11']
i [5, 6, 7, 8, 9, 10]
j [0, 14, 13, 12, 11, 10, 13, 12, 11, 10, 12, 11, 10, 11, 10, 10]
k [15, 14, 13, 12, 11, 10]

In [ ]:
#task14
listt = []
listi = []
listj = []
listk = []
test = ""
listt.append(test)
i = 5
listi.append(i)
j = 0
listj.append(j)
k = 15
listk.append(k)
while (i< 10): 
    k-=1
    listk.append(k)
    j = k
    listj.append(j)
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            listt.append(test)
            test = test + str( i) + '3' + "-->" + str(j // 3)
            listt.append(test)
        else:
            test = "-->"
            listt.append(test)
            test = "-->" + str((i // 3)) + test + str(j)
            listt.append(test)
        print(test)
        j -=1
        listj.append(j)
    i+=1
    listi.append(i)

print("test",listt)
print("i",listi)
print("j",listj)
print("k",listk)

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11
test ['', '<--', '<--53-->4', '-->', '-->1-->13', '<--', '<--53-->4', '-->', '-->1-->11', '-->', '-->2-->13', '<--', '<--63-->4', '-->', '-->2-->11', '<--', '<--73-->4', '-->', '-->2-->11', '-->', '-->2-->11']
i [5, 6, 7, 8, 9, 10]
j [0, 14, 13, 12, 11, 10, 13, 12, 11, 10, 12, 11, 10, 11, 10, 10]
k [15, 14, 13, 12, 11, 10]

In [ ]:
#task15
listt = []
listi = []
listj = []
listk = []
i=0
listi.append(i)
j=0
listj.append(j)
k=15
listk.append(k)
test = '<--cat'
listt.append(test)
while i < 5:
    k -= 1
    listk.append(k)
    j = k
    listj.append(j)
    while j > 10:
        if j % 2 == 0:
            test += '-->'
            listt.append(test)
            test = test + str(i) + str(j // 2)
            listt.append(test)
        else:
            test += '<--'
            listt.append(test)
            test = test + str(i // 2) + str(j)
            listt.append(test)
        print(test)
        j-=1
        listj.append(j)
    i+=1
    listi.append(i)

print("test",listt)
print("i",listi)
print("j",listj)
print("k",listk)

<--cat-->07
<--cat-->07<--013
<--cat-->07<--013-->06
<--cat-->07<--013-->06<--011
<--cat-->07<--013-->06<--011<--013
<--cat-->07<--013-->06<--011<--013-->16
<--cat-->07<--013-->06<--011<--013-->16<--011
<--cat-->07<--013-->06<--011<--013-->16<--011-->26
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111
test ['<--cat', '<--cat-->', '<--cat-->07', '<--cat-->07<--', '<--cat-->07<--013', '<--cat-->07<--013-->', '<--cat-->07<--013-->06', '<--cat-->07<--013-->06<--', '<--cat-->07<--013-->06<--011', '<--cat-->07<--013-->06<--011<--', '<--cat-->07<--013-->06<--011<--013', '<--cat-->07<--013-->06<--011<--013-->', '<--cat-->07<--013-->06<--011<--013-->16', '<--cat-->07<--013-->06<--011<--013-->16<--', '<--cat-->07<--013-->06<--011<--013-->16<--011', '<--cat-->07<--013-->06<--011<--013-->16<--011-->', '<--cat-->07<--013-->06<--011<--013-->16<--011-->26', '<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--', '<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111', '<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--', '<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111']
i [0, 1, 2, 3, 4, 5]
j [0, 14, 13, 12, 11, 10, 13, 12, 11, 10, 12, 11, 10, 11, 10, 10]
k [15, 14, 13, 12, 11, 10]

In [ ]:
#Task16
str1 = input("Enter words here: ")
str2 = input("Enter letter here: ")
str3 = ''
if len(str1)>3:
  if str2 not in str1:
    str3 = str1[1:-1]
  else:
    for i in str1:
      if i!= str2:
        str3+= i
else:
  str3 = str1

print(str3)

Enter words here: tanjido kamado
Enter letter here: a
tnjido kmdo

In [ ]:
#task17

str1 = input("Enter string here: ")
char1 = input("Enter character here: ")

list1 = []
f = 0

for i in range(len(str1)):
  if str1[i]== char1:
    list1.append(i)
# this is to get index numbers where char1 exists

for j in list1:
  if f ==0:
    str2 = str1[:j]
# adds everything till the j index to str2
  else:
    str2 = str1[f+1:j]
# f+1 to start from the index after char1 till j index
  f = j
  print(str2)
str3 = str1[f+1:]
#str3 is for the last part after char1 
print(str3)

Enter string here: tom@gmail,jeff@yahoo
Enter character here: ,
[9]
tom@gmail
jeff@yahoo

In [ ]:
#task18

str1 = input("Enter string here: ")
num = int(input("Enter number here: "))
if num%2 ==0:
  num = num*2
else:
  num = num*3
print(str1*num)

Enter string here: ABC12
Enter number here: 2
ABC12ABC12ABC12ABC12

In [ ]:
#task19

str1 = input("Enter string here: ")
str2 =""

i = 0
counter = 0
while i <(len(str1)):
  if (ord('a')<= ord(str1[i])<= ord('z')) or (ord('A') <= ord(str1[i])<= ord('Z')):
    if counter% 2 ==0:
      str2 += str1[i].upper()
    else:
      str2+= str1[i].lower()
    counter+= 1
  else:
    str2+= str1[i]
  i+= 1

print(str2)

Enter string here: CSE11 Course
CsE11 cOuRsE