In [ ]:
#task1

var1 = int(input("Enter first number here: "))
var2 = int(input("Enter second number here: "))

total = var1 + var2
product = var1 * var2
diffrence = var1 -var2

print("Sum =",total)
print("Product =",product)
print("Diffrence =",diffrence)

In [ ]:
#task2
import math
radius = float(input("Enter radius here: "))

area = math.pi* (radius**2)
circumference = 2*math.pi*radius

print("Area is",area)
print("Circumference is",circumference)

In [ ]:
#task3

num_1 = int(input("Enter first number here: "))

num_2 = int(input("Enter second number here: "))

if num_1 > num_2:
  print("First is greater")

elif num_1 < num_2:
  print("Second is greater")

else:
  print("The numbers are equal")

In [ ]:
#task4

num_1 = int(input("Enter first number here: "))

num_2 = int(input("Enter second number here: "))

if num_1 > num_2:
  diffrence = num_1 - num_2

elif num_1 < num_2:
  diffrence = num_2 - num_1
else:
  diffrence = 0

print(diffrence)

In [ ]:
#task5

num_1 = int(input("Enter first number here: "))


if num_1 %2==0:
  print("The number is even")

else:
  print("The number is odd")

In [ ]:
#task6

num1 = int(input("Enter first number here: "))

if num1 %2 ==0 or num1%5 ==0:
  print(num1)

else:
  print("Not a multiple of 2 OR 5")

In [ ]:
#task7

num1 = int(input("Enter first number here: "))

if num1 %2 ==0 and num1%5 ==0:
  print("Multiple of 2 and 5 both")
elif num1%2 ==0 or num1%5 ==0:
  print(num1)
else:
  print("Not a multiple we want")

In [ ]:
#task8

num1 = int(input("Enter first number here: "))

if num1 %2 ==0 and num1%5 ==0:
  print("Multiple of 2 and 5 both")

else:
  print("Not a multiple of 2 and 5 both")

Enter first number here: 18
Not a multiple of 2 and 5 both

In [ ]:
#task9

time = int(input("Enter time here, (in seconds): "))

hour = time //3600
seconds = time%3600
minutes = seconds//60
seconds = seconds%60

print("Hours:",hour,"Minutes:",minutes,"Seconds:",seconds)

Enter time here, in seconds: 500
Hours: 0 Minutes: 8 Seconds: 20

In [ ]:
#task10

work_hours = int(input("Enter number of hours worked here: "))

if work_hours <0:
  print("Hours cannot be negative")
elif work_hours >168:
  print("Impossible to work more than 168 hours weekly")
elif work_hours <= 40:
  wage = work_hours * 200
  print(wage)
elif work_hours >40:
  extra_hours = work_hours - 40
  wage = (extra_hours * 300) + 8000  
  print(wage)

Enter number of hours worked here: 170
Impossible to work more than 168 hours weekly

In [ ]:
#task11

s =float(input("Enter number here: "))

if s <100:
  l = 3000 -(125*(s**2))
elif s >=100:
  l = 12000/(4+(s**2/14900))

print(l)

Enter number here: 120
2416.2162162162163

In [ ]:
#task12

t = int(input("Enter time here: "))

if 4<= t <= 6:
  print("Breakfast")

elif 12<= t <= 13:
  print("Lunch")

elif 16<= t <= 17:
  print("Snacks")

elif 19<= t <= 20:
  print("Dinner")

elif 0<= t <=24:
  print("Patience is a virtue")

else:
  print("Wrong time")

Enter time here: 8
Patience is virtue

In [ ]:
#task13

number = int(input("Enter number here: "))

if 0 > number or number > 100:
  print("Invalid number") 

elif number >=90:
  print("A")

elif 80<= number:
  print("B")

elif 70<= number:
  print("C")

elif 60<= number:
  print("D")

elif 50<= number:
  print("E")

else:
  print("F")

Enter number here: 97
A

In [ ]:
#task14

distance = int(input("Enter distance in meters: "))
time = int(input("Enter time in seconds: "))
speed_ms = distance / time
speed_kmh = speed_ms * 3.6
print(speed_kmh,"km/h")
if speed_kmh <60:
  print("Too slow. Needs more changes.")
elif 60 <= speed_kmh <=90:
  print("Velocity is okay. The car is ready!")
elif speed_kmh >90:
  print("Too fast. Only a few changes should suffice.")

Enter distance in meters: 26000
Enter time in seconds: 1470
63.673469387755105 km/h
Velocity is okay. The car is ready!

In [ ]:
#task15

cgpa = float(input("Enter CGPA here: "))
credits = int(input("Enter number of credits completed here: "))

if credits >= 30 and cgpa >=3.8:
  if 3.8 <= cgpa <=3.89:
    print("The student is eligible for a waiver of 25 percent.")
  elif 3.9 <= cgpa <=3.94:
    print("The student is eligible for a waiver of 50 percent.")
  elif 3.95 <= cgpa <=3.99:
    print("The student is eligible for a waiver of 75 percent.")
  elif cgpa == 4.00:
    print("The student is eligible for a waiver of 100 percent.")
else:
  print("The student is not eligible for a waiver")

Enter CGPA here: 4
Enter number of credits completed here: 37
The student is eligible for a waiver of 100 percent.

In [ ]:
#task16

p = 5
q = 6
r = 9
sum = 0
if (p < 12):
 print(r + 2)
else:
 print(r + p)
if (q > 20):
 print(r + 19)
elif (q <= 6):
 print(q + 3)
else:
 print(p + q + r)
if (r > 15):
 print(r)
elif (r == 0):
 print(p + q)
else:
 print(p)
if (sum != 0):
 print(3)
else:
 print(sum + 32)
if (p>0 and r<10):
 print(p+r)
else:
 print(p-r)

11
9
5
32
14

In [ ]:
#task17

var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#task18

var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
#task19
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)
print("----------")
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
True
False
True
False
False
----------
False
True
True
True
True
True
False
True
True
False

In [ ]:
#task20

number = int(input("Enter number here: "))

if number % 2 == 0 or number % 5 == 0:
  print("No")
else:
  print(number)

Enter number here: 14
No

In [ ]:
#task21

number = int(input("Enter number here: "))

if number % 2 == 0 and number % 5 == 0:
  print("No")
else:
  print(number)

Enter number here: 14
14

In [ ]:
#task22

canvas = int(input("Enter the number of canvases here: "))
paint_tubes = int(input("Enter the number of paint tubes here: "))
price_c = 120
price_pt = 75
total = (canvas * price_c) +(paint_tubes * price_pt)
if total <= 299:
  discount = 0
elif 300 <= total <=499:
  discount = 10
elif 500 <= total <=749:
  discount = 20
elif 750 <= total <=999:
  discount = 50
else:
  discount = 150

new_price = total - discount
print("Previous total:",total)
print("New total after discount:",new_price)

Enter the number of canvases here: 0
Enter the number of paint tubes here: 3
Previous total: 225
New total after discount: 225

In [ ]:
#task23

deg_f = int(input("Enter the temperature in Fahrenheit here: "))
deg_c = (deg_f -32)*0.56

if deg_c < 20:
  season = "Winter"
elif 20 <= deg_c <=25:
  season = "Autumn"
elif 25 < deg_c < 30:
  season = "Spring"
elif deg_c >= 30:
  season = 'Summer'


print(deg_c,"Degrees C")
print(season)

Enter the temperature in Fahrenheit here: 32
0.0 Degrees C
Winter