In [ ]:
#task1
list1 = []

for i in range(5):
  num = int(input("Enter number here: "))
  list1.append(num)
  print(f"Numbers in the list: {list1}")

Enter number here: 1
Numbers in the list: [1]
Enter number here: 2
Numbers in the list: [1, 2]
Enter number here: 4
Numbers in the list: [1, 2, 4]
Enter number here: -5
Numbers in the list: [1, 2, 4, -5]
Enter number here: 6
Numbers in the list: [1, 2, 4, -5, 6]

In [ ]:
#task2

list1 = input("Enter list here: ")

list2 = list1[1:-1]
list2 =[int(i) for i in list2.split(", ")]


if len(list2) > 3:
  list2 = list2[2:-2]
  print(list2)
else:
  print("Not possible")

Enter list here: [10, 20, 24, 25, 26, 35, 70]
[24, 25, 26]

In [ ]:
#task3 (LONG)

list1 = []

for i in range(5):
  num = int(input("Enter number here: "))
  list1.append(num)
  
print(f"Input data: {list1}")
print("Printing values from the list in reverse order: ")
for i in list1[: :-1]:
  print(i)

Enter number here: 1
Enter number here: 2
Enter number here: 3
Enter number here: 4
Enter number here: 5
Input data: [1, 2, 3, 4, 5]
Printing values from the list in reverse order:
5
4
3
2
1

In [ ]:
#task3 
list1 = [ int(input("Enter: ")) 
          for i in range(5)]


print(f"Input data: {list1}")
print("Printing values from the list in reverse order: ")
for i in list1[: :-1]:
  print(i)

Enter: 5
Enter: 4
Enter: 3
Enter: 2
Enter: 1
Input data: [5, 4, 3, 2, 1]
Printing values from the list in reverse order:
1
2
3
4
5

In [ ]:
#task4

list1 =[1, 2, 3, 4, 5, 6, 7]
list2 = []
for i in list1:
  list2.append(i**2)

print(list2)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#task4(comp)

list1 = [1, 2, 3, 4, 5, 6, 7]

list2 =[(i**2) for i in list1]

print(list2)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#task5

list1 = ["hey", "there", "", "what's", "", "up", "", "?"]
list2 = []
for i in range(len(list1)):
  if list1[i] !='':
    list2.append(list1[i])

print(f"Orginal list: {list1}")
print(f"Modified list: {list2}")

Orginal list: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
list1 = ["","hey", "there", "", "what's", "", "up", "", "?"]
list2 =[
        list1[i]  for i in range(len(list1)) 
        if list1[i]!=''

]

print(f"Orginal list: {list1}")
print(f"Modified list: {list2}")

Orginal list: ['', 'hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
list1 = ["","hey", "there", "", "what's", "", "up", "", "?"]
list2 =[i for i in list1 if i!= '']


print(f"Orginal list: {list1}")
print(f"Modified list: {list2}")

Orginal list: ['', 'hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#task6 (without split)
str1 = input("Enter 7 numbers here seperated by comma(,) ")

list1 = []
word =''

for i in str1:
  if i ==",":
    list1.append(word)
    word =''
  else:
    word += i

if word:
  list1.append(word)

list2 =[]

for i in list1:
  j = int(i)
  list2.append(j)

max = list2[0]

for i in range(len(list2)):
  if list2[i] > max:
    max = list2[i]

for i in range(len(list2)):
  if list2[i] == max:
    index = i

print(f"My list: {list2}")    
print(f"Largest number in the list is {max} which was found at index {index}.")

Enter 7 numbers here seperated by comma(,) 7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

In [ ]:
#task6

list1 = [
         int(i)
         for i in input("Enter 7 numbers here seperated by comma(,) ").split(",")
         ]

max = list1[0]

for i in range(len(list1)):
  if list1[i] > max:
    max = list1[i]
    index = i
'''for i in range(len(list1)):
  if list1[i] == max:
    index = i
'''
print(f"My list: {list1}")    
print(f"Largest number in the list is {max} which was found at index {index}.")

Enter 7 numbers here seperated by comma(,) 10,11,12
My list: [10, 11, 12]
Largest number in the list is 12 which was found at index 2.

In [ ]:
#task7

list1 = [1, 3, 5, 7, 9, 10]
list2 =[2, 4, 6, 8]


print(list1[:-1] + list2)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#task8

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15, -16]
list3 =[]

for i in range(len(list1)):
  if list1[i] % 2==0:
    list3.append(list1[i])

for j in range(len(list2)):
  if list2[j] % 2==0:
    list3.append(list2[j])

print(list3)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task8

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15, -16]

list3 =[i for i in list1 if i%2 ==0]
list4 =[j for j in list2 if j%2 ==0]

print(list3+list4)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task9 (without split)
str1 = input("Enter string here: ")
list1 = []
word =''

for i in str1:
  if i ==" ":
    list1.append(word)
    word =''
  else:
    word += i

if word:
  list1.append(word)

list2 =[]

for i in list1:
  j = int(i)
  list2.append(j)

list3 =[]
for k in list2:
  if k%2!=0:
    list3.append(k)

print(f"Original list: {list2}")
print(f"Modified list: {list3}")

Enter string here: 7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task9
str1 = input("Enter string here: ")
list1 = []
str2 =''
for i in str1:
  if i !=' ':
    str2+= i
  else:
    list1.append(int(str2))
    str2 =''
list1.append(int(str2))

#list2 = [int(i) for i in list1]

list3 = [i for i in list1 if i%2 !=0]

print(f"Original list: {list1}")
print(f"Modified list: {list3}")

Enter string here: 7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task10

str1 = input("Enter string here: ")
list1 = []
word =''

for i in str1:
  if i ==",":
    list1.append(word)
    word =''
  else:
    word += i

if word:
  list1.append(word)

list2 =[]

for i in list1:
  j = int(i)
  list2.append(j)

list3 = []
for k in list2:
  if not k in list3:
    list3.append(k)

print(f"Input list: {list2}")
print(f"Modified list: {list3}")

Enter string here: 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task10

list1 = [ 
         int(i) for i in 
         input("Enter numbers here seprated by commas(,): ").split(',')
        ]

list3 = []
for k in list1:
  if k not in list3:
    list3.append(k)

print(f"Input list: {list1}")
print(f"Modified list: {list3}")

Enter numbers here seprated by commas(,): 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task11

list1 = [1, 4, 3, 2, 5]
list2 = [8, 7, 6, 9]

if (len(list1) > len(list2)) or (len(list1) == len(list2)):
  for i in range(len(list1)):
    if list1[i] in list2:
      val1 = True
      break
    else:
      val1 = False
else:
  for j in range(len(list2)):
    if list2[j] in list1:
      val1 = True
      break
    else:
      val1 = False

if val1 == True:
  print("True")
else:
  print("False")

True

In [ ]:
#Task11

list1 = [1,2,3,4]
list2 = [4,5,6,7]
val1 = False
for i in list1:
  if i in list2:
    val1 = True
    break
print("True" if val1 == True else "False")

True

In [ ]:
#task16

list1 = [int(i) for i in input('Enter numbers here: ').split(', ')]
list2 = list1[:]
max = list1[0]
for i in list1:
  if i > max:
    max = i
list1.remove(max)
max = list1[0]
for i in list1:
  if i > max:
    max = i
for i in range(len(list2)):
  if list2[i] == max:
    index = i
print(f'Second largest number is {max} which was found at index {index}.')

Enter numbers here: 7, 13, 2, 10, 6, -11, 0
Second largest number is 10 which was found at index 3.

In [ ]:
#task17


list1 = [
         int(i) for i in input("Enter 7 numbers here seperated by comma(,) ").split(', ')
        ]

max = list1[0]
min = list1 [0]
index = 0
ind = 0
for i in range(len(list1)):
  if list1[i] > max:
    max = list1[i]
    index = i
  elif list1[i] < min:
    min = list1[i]
    ind = i

print(f"My list: {list1}")    
print(f"Smallest number in the list is {min} which was found at index {ind}.")
print(f"Largest number in the list is {max} which was found at index {index}.")

Enter 7 numbers here seperated by comma(,) 10, 5, 7, 3
0
3
My list: [10, 5, 7, 3]
Smallest number in the list is 3 which was found at index 3.
Largest number in the list is 10 which was found at index 0.

In [ ]:
#task18

list1 = input('Enter list here: ').split(', ')
list2 = input('Enter list here: ').split(', ')
list3 = []

for i in list1:
  if i in list2 and i not in list3:
    list3.append(i)

print(list3)

Enter list here: 1, 3, A, H, P
Enter list here: A, G, 1, P, O
['1', 'A', 'P']

In [ ]:
#task19 

list1 = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list2 = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list3 = list1 + list2
list4 = []

for i in list3:
  if i not in list4:
    list4.append(i)
  

print(list4)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#task20

str1 = input("Enter string here: ")
str2 = str1

str3 = str1
print(f"Original data: {str1}")

str3 = (str1.lstrip(' [')).rstrip('] ')

print(f"After removing square brackets: {str3}")

str1 = (str1.lstrip(' [')).rstrip('] ')

list2 = [i for i in str1.split(', ') ]
print(f'Numbers in string format with extra white spaces: {list2}')
list1 = [int(i) for i in (str2.strip('[ ]')).split(', ') ]

print(f"Final data (numbers in list format): {list1}")

Enter string here:         [1, 2 , 3,      50, 4]
Original data:         [1, 2 , 3,      50, 4]
After removing square brackets: 1, 2 , 3,      50, 4
Numbers in string format with extra white spaces: ['1', '2 ', '3', '     50', '4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

In [ ]:
#task21

list1 = [int(i) for i in (input("Enter number here: ").strip(' ')).split(', ') ]

list2 = []
for i in list1:
 if i not in list2:
  list2.append(i)


print(f"Given numbers in list:{list1}")
print(f"List without any dupliacte values:{list2}")

Enter number here: 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Given numbers in list:[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any dupliacte values:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]