In [ ]:
#Task1

a_tuple = ("The Institute",
           ("Best Mystery & Thriller", "The Silent Patient", 68821), 
           75717, [1, 2, 3, 400, 5, 6, 7], 
           ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

In [ ]:
#Task2

t1 = (10, 20, 24, 25, 26, 35, 70)

print(t1[2:-2])

(24, 25, 26)

In [ ]:
#Task3

book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print(f"Size of the tuple is {len(book_info)}")
for i in book_info:
    print(i)

Size of the tuple is 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task4

book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 

for i in book_info:
    category, book_name, votes = i
    print(f"{book_name} won the '{category}' category with {votes} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Task5

t1 = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
n = int(input("Enter number here: "))

count = 0
for i in t1:
    if i == n:
        count += 1

print(f"{n} appears {count} times in the tuple")

Enter number here: 8
8 appears 4 times in the tuple

In [ ]:
#Task6

t1 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
l1 = []
for i in range(len(t1)-1,-1,-1):
    l1.append(t1[i])

print(tuple(l1))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#Task7

dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}

dict3 = {}
dict3.update(dict1)
dict3.update(dict2)

print(dict3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task8

dict1 = {}

iteration = int(input("Enter number of iterations here: "))
sum = 0

for i in range(iteration):
  key = input("Enter key here: ")
  value = int(input("Enter value here: "))
  dict1[key] = value
  sum += value

print(f'Average is {sum/iteration}')

Enter number of iterations here: 3
Enter key here: Jon
Enter value here: 100
Enter key here: Dan
Enter value here: 200
Enter key here: Rob
Enter value here: 300
Average is 200.0

In [ ]:
#Task9

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num = int(input("Enter number here: "))
dict1 = {}
for i in exam_marks.items():
  key,value = i
  if value >= num:
    dict1[key] = value
  
print(dict1)

Enter number here: 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task10

dict1 = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = -99999999999999
for key,value in dict1.items():
  if value > max:
    max = value
    max_key = key

print(f"The highest selling book genre is '{max_key}' and the number of books sold are {max}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#Task11

str1 = input("Enter string here: ").lower()

dict1 = {}

for i in str1:
  count = 0
  if i not in dict1 and i!= ' ':
    for j in str1:
       if i == j:
        count += 1
    dict1[i] = count

print(dict1)

Enter string here: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task12

dict1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for key,value in dict1.items():
  for i in value:
    count += 1

print(count)

9

In [ ]:
#Task13

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}
for i in list_1:
  if i not in dict1:
    l1 = []
    for j in list_1:
      if i[0] == j[0]:
        l1.append(j[1])
  dict1[i[0]] = l1

print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
''' Task 14 (Tracing) '''

dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
	    j = 0
	    k = 22
	    while j < 5:
	        if j % 2 == 0:
	            k = dict1[i] + j - (8 + k % 6) / 3
	            dict1[i] = dict1[i]+ int(k)
	        else:
	            k = dict1[i] + j - (6 - k % 8) * 3
	            dict1[i] = dict1[i] - int(k)
	        j += 1
	    print(int(k))
	    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
#Task15

l1 = [(11, 22), (33, 55), (55, 77), (11, 44)]
l2 = []
for i  in l1:
  product = i[0] * i[1]
  l2.append(product)

print(l2)

[242, 1815, 4235, 484]

In [ ]:
#Task16

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

user_input = input("Enter value here: ")

for i in a_tuple:
  i[-1] = user_input

print(a_tuple)

Enter value here: 1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [ ]:
#Task17

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
dict1 = {}
for key,value in my_dictionary.items():
  if value != None:
    dict1[key] = value

print(dict1)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#Task18

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
lower_limit = int(input("Enter lower limit here: "))
upper_limit = int(input("Enter upper limit here: "))
dict2 = {}

for key,value in dict_1.items():
  if lower_limit <= value < upper_limit:
    dict2[key] = value

print(dict2)

Enter lower limit here: 9
Enter upper limit here: 12
{'c': 9, 'e': 11}

In [ ]:
#Task19

t1 = [(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]
l1 = []
dict1 = {}

for i in t1:
  second = i[1]
  if second not in l1:
    l1.append(second)
for i in l1:
  l2 = []
  for j in t1:
    if i == j[1]:
      l2.append(j)
    dict1[i] = l2

print(dict1)

{'Sad': [(20, 'Sad'), (31, 'Sad')], 'NotSad': [(88, 'NotSad'), (27, 'NotSad')]}

In [ ]:
#Task20

str1 = input("First input: ")

str2 = input("Special characters: ")
special_char = []
for i in str2:
  special_char.append(i)

str3 = ''
for i in str1:
  if i != '.':
    str3+= i
l1 = str3.split()
dict1 = {}

def ascii_count(i):
  total = 0
  for j in i:
    total += ord(j)
  return total

for i in range(len(special_char)):
  l3 = []
  for j in l1:
    if ascii_count(j) % len(special_char) == i :
      if j not in l3:
        l3.append(j)
  if l3 != []:
    dict1[special_char[i]] = l3


print(f"Words in the given string: {l1}")
print(f"Answer: {dict1}")

First input: The secret of getting ahead is getting started.
Special characters: -=+*%
Words in the given string: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
Answer: {'-': ['is'], '=': ['secret'], '*': ['of'], '%': ['The', 'getting', 'ahead', 'started']}